page-home {

#searchButton {
  min-width: none;
  width: 50px !important;
  align-items: center;
  text-align: center;
}

#searchBarContainer {
  width: 100%;
  align-items: center;
  display: inline-block;
  margin: auto;
}




}
