page-search-result {

.resultText {
  font-size: small;
  white-space: nowrap;
  left: 0;
  overflow: auto;
}

.restTextMed
{
  font-size: medium;
  white-space: nowrap;
  left: 0;
  overflow: auto;
}

}
